@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.tippy-box {
	@apply !bg-grayblue !text-black !bg-opacity-40 dark:!bg-opacity-20 dark:!text-white !text-xs;
}
